/*1.0 STEP RESET CSS*/
html, body {
  height: 100%; }

body {
  line-height: 28px;
  font-size: 16px;
  color: #333;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  padding: 0 0 0px;
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 15px; }
  ul{
  margin: 0 ;
  padding: 0 0 0 20px ;
}

p {
  font-size: 16px;
  margin: 0 0 15px;
  padding: 0 0 0px; }

a:hover {
  text-decoration: none; }

.btn-mr {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 12px 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.24s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.24s cubic-bezier(0.23, 1, 0.32, 1);
  line-height: 24px;
  cursor: pointer;
  font-weight: 500; }
  .btn-mr.pill {
    border-radius: 999px; }

.th-primary {
  background: #1e90ff;
  color: #fff;
  border: 1px solid #1e90ff;
  border-radius: 3px; }
  .th-primary:hover {
    background: #1b82e6;
    border: 1px solid #1b82e6;
    color: #fff; }
  .th-primary:focus {
    outline: none;
    color: #fff; }

.th-secondary {
  background: #70a1ff;
  color: #fff;
  border: 1px solid #70a1ff;
  border-radius: 3px; }
  .th-secondary:hover {
    background: #6591e6;
    border: 1px solid #6591e6;
    color: #fff; }
  .th-secondary:focus {
    outline: none;
    color: #fff; }

.th-primary-outline {
  background: transparent;
  color: #333;
  border: 2px solid #1e90ff;
  background: #1e90ff;
  color: #fff; }
  .th-primary-outline:hover {
    background: transparent;
    color: #fff; }
  .th-primary-outline:focus {
    outline: none;
    color: #fff; }

.th-secondary-outline {
  background: transparent;
  color: #333;
  border: 2px solid #1e90ff;
  background: #1e90ff;
  color: #fff; }
  .th-secondary-outline:hover {
    background: transparent;
    color: #333; }
  .th-secondary-outline:focus {
    outline: none;
    color: #fff; }

.btn {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  border-radius: 0px;
  padding: 8px 30px;
  font-weight: 400;
  -webkit-transition: all 0.24s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.24s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .btn.pill {
    border-radius: 999px; }

.btn-primary {
  color: #fff !important;
  background: #007bff;
  border-color: #007bff; }
  .btn-primary:hover {
    background: #006fe6;
    border-color: #006fe6; }

.btn-secondary {
  color: #fff !important;
  background: #6c757d;
  border-color: #6c757d; }
  .btn-secondary:hover {
    background: #616971;
    border-color: #616971; }

.btn-success {
  color: #fff !important;
  background: #28a745;
  border-color: #28a745; }
  .btn-success:hover {
    background: #24963e;
    border-color: #24963e; }

.btn-danger {
  color: #fff !important;
  background: #dc3545;
  border-color: #dc3545; }
  .btn-danger:hover {
    background: #c6303e;
    border-color: #c6303e; }

.btn-warning {
  color: #fff !important;
  background: #ffc107;
  border-color: #ffc107; }
  .btn-warning:hover {
    background: #e6ae06;
    border-color: #e6ae06; }

.btn-info {
  color: #fff !important;
  background: #17a2b8;
  border-color: #17a2b8; }
  .btn-info:hover {
    background: #1592a6;
    border-color: #1592a6; }

.btn-light {
  color: #666 !important;
  background: #f8f9fa;
  border-color: #f8f9fa; }
  .btn-light:hover {
    background: #ecedee;
    border-color: #ecedee; }

.btn-dark {
  color: #fff !important;
  background: #343a40;
  border-color: #343a40; }
  .btn-dark:hover {
    background: #2f343a;
    border-color: #2f343a; }

img {
  max-width: 100%; }

.section-ttile {
  margin-bottom: 60px; }
  .section-ttile h2 {
    position: relative;
    font-size: 30px;
    text-transform: capitalize;
    display: block;
    font-weight: 700;
    margin: 0 0 0; }
  .section-ttile span {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 100;
    text-transform: capitalize;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -8px;
    display: inline-block; }

.site-header {
  background: #fff;
  -webkit-box-shadow: 0 2px 9px 0 rgba(102, 102, 102, 0.1);
          box-shadow: 0 2px 9px 0 rgba(102, 102, 102, 0.1); }
  .site-header.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999; }

.main-menu ul {
  list-style: outside none none;
  margin: 0 -13px 0 0;
  padding: 0 !important;
  text-align: right; }
  .main-menu ul li {
    display: inline-block;
    position: relative; }
    .main-menu ul li a {
      color: #333;
      display: block;
      font-size: 14px;
      /*change menu distace top to left right*/
      padding: 26px 13px;
      /*change font weight*/
      font-weight: 500;
      text-transform: uppercase;
      -webkit-transition: all 0.34s ease-in-out;
      transition: all 0.34s ease-in-out; }
      .main-menu ul li a:hover {
        text-decoration: none; }

.main-menu a:foucs {
  outline: none;
  text-decoration: none; }

.main-menu > ul > li.current-menu-item > a {
  color: #1e90ff;
  /*change hover color*/ }

.main-menu > ul > li:hover > a {
  color: #1e90ff;
  /*li dot hover change*/ }

/*men item carve icon*/
.main-menu > ul > li.menu-item-has-children > a:after {
  content: "\f107 ";
  margin-left: 5px;
  font-family: "Fontawesome"; }

/*sub menu*/
.main-menu > ul > li.menu-item-has-children > ul.sub-menu {
  position: absolute;
  left: 0;
  top: 120%;
  background: #fff;
  z-index: 999;
  color: #333;
  text-align: left;
  min-width: 200px;
  -webkit-transition: all 0.42s ease-in-out;
  transition: all 0.42s ease-in-out;
  border-top: 3px solid #1e90ff;
  -webkit-box-shadow: 0 2px 9px 0 rgba(102, 102, 102, 0.1);
          box-shadow: 0 2px 9px 0 rgba(102, 102, 102, 0.1);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden; }

.main-menu > ul > li.menu-item-has-children:hover > ul.sub-menu {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  visibility: visible;
  top: 100%; }

.main-menu > ul > li.menu-item-has-children > ul.sub-menu > li,
.main-menu ul ul li {
  display: block; }

.main-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a,
.main-menu ul ul li a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #fafafa;
  text-transform: capitalize;
  position: relative;
  z-index: 1; }

.main-menu > ul > li.menu-item-has-children > ul.sub-menu > li:last-child > a,
.main-menu ul ul li:last-child a {
  border-bottom: 1px solid transparent; }

.main-menu > ul > li.menu-item-has-children > ul.sub-menu > li:hover > a,
.main-menu ul ul > li:hover > a {
  padding-left: 23px;
  color: #fff;
  background: #1e90ff; }

/* */
.main-menu ul ul li.menu-item-has-children > a:after {
  content: "\f105";
  position: absolute;
  font-family: "Fontawesome";
  right: 10px; }

.main-menu ul ul li.menu-item-has-children.change-icon > a:after {
  content: "\f107"; }

.main-menu ul ul {
  position: absolute;
  left: 202px;
  top: 30px;
  background: #fff;
  z-index: 999;
  color: #333;
  text-align: left;
  min-width: 200px;
  -webkit-transition: all 0.42s ease-in-out;
  transition: all 0.42s ease-in-out;
  border-top: 3px solid #1e90ff;
  -webkit-box-shadow: 0 2px 9px 0 rgba(102, 102, 102, 0.1);
          box-shadow: 0 2px 9px 0 rgba(102, 102, 102, 0.1);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden; }

.main-menu > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children:hover > ul.sub-menu,
.main-menu > ul > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children:hover > ul.sub-menu {
  top: 0px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  visibility: visible; }

.mobile-menu {
  display: none; }

.menu-click {
  background: #1e90ff;
  border: 1px solid #1e90ff;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 10px;
  padding: 8px 7px 4px;
  top: -46px;
  -webkit-transition: all 0.34s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.34s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.menu-click span {
  -webkit-transition: all 0.34s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.34s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 30px;
  background: #fff;
  height: 2px;
  margin-bottom: 4px;
  display: block; }

.mobile-menu {
  display: none; }

/*tablet device*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-menu ul li a {
    padding: 26px 4px; } }

/*mobile device small*/
@media only screen and (max-width: 767.98px) {
  .main-menu > ul > li:hover:before,
  .main-menu > ul > li.current-menu-item:before {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden; }
  .main-menu ul {
    text-align: left; }
  .main-menu ul li {
    display: block; }
  .main-menu ul li a {
    padding: 8px 20px; }
  .main-menu ul > li:hover > a {
    background: #70a1ff; }
  .main-menu > ul > li.menu-item-has-children > ul.sub-menu {
    display: none;
    -webkit-transition: none;
    transition: none;
    position: static;
    background: #0583ff;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    visibility: visible;
    padding-left: 15px;
    border-top: 3px solid transparent; }
  .main-menu ul ul {
    display: none;
    -webkit-transition: none;
    transition: none;
    position: static;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    visibility: visible;
    padding-left: 15px;
    background: #0583ff;
    border-top: 3px solid transparent; }
  .main-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a,
  .main-menu ul ul li a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    color: #fff;
    text-transform: capitalize;
    padding: 7px 15px; }
  .main-menu > ul > li.menu-item-has-children > ul.sub-menu > li:hover > a,
  .main-menu ul ul > li:hover > a {
    padding-left: 10px;
    background: #70a1ff; }
  .main-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a,
  .main-menu ul ul li a {
    padding: 10px 0px; }
  .main-menu {
    overflow-x: hidden; }
  .main-menu ul ul li.menu-item-has-children > a:after {
    right: 70px; }
  .main-menu ul {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background: #1e90ff;
    -webkit-transition: all 0.34s ease-in-out;
    transition: all 0.34s ease-in-out;
    z-index: 999; }
  .main-menu ul.show {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    visibility: visible;
    top: 0; }
  .mobile-menu {
    display: block; }
  .main-menu ul.show > li > a {
    color: #fff; }
  .main-menu > ul > li.menu-item-has-children > ul.sub-menu > li > a, .main-menu ul ul li a {
    padding: 7px 0; } }

.site--slider__area {
  height: 800px;
  width: 100%; }

.single-slider {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  z-index: 1; }
  .single-slider:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background: #000;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); }

.slide-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }
  .slide-content h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    text-transform: uppercase; }
  .slide-content p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 15px;
    width: 80%; }
  .slide-content a {
    margin-right: 5px; }

.slider-active .owl-nav div {
  position: absolute;
  left: 0px;
  top: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  color: #333;
  background: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 0.24s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.24s cubic-bezier(0.47, 0, 0.745, 0.715);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden; }
  .slider-active .owl-nav div:hover {
    background: #70a1ff;
    border: 1px solid #70a1ff;
    color: #fff; }

.slider-active .owl-nav div.owl-next {
  left: auto;
  right: 0px; }

.site--slider__area:hover .slider-active .owl-nav div {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  visibility: visible;
  left: 30px; }

.site--slider__area:hover .slider-active .owl-nav div.owl-next {
  right: 30px;
  left: auto; }

.banner-arae {
  height: 300px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1; }
  .banner-arae:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); }
  .banner-arae h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 35px; }

.bn_height {
  height: 300px; }

.services-area {
  padding: 100px 0 70px; }

.single-services {
  border: 1px solid #eee;
  padding: 15px;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out; }
  .single-services i.fa {
    font-size: 40px;
    margin-bottom: 15px;
    color: #1e90ff; }
  .single-services h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 0 0 15px; }
  .single-services p {
    margin: 0 0 0; }
  .single-services:hover {
    -webkit-box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
            box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
    border: 1px solid transparent;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); }

.blog-area {
  padding: 100px 0 70px;
  background: #f2f9ff; }
  .blog-area.innerpage {
    background: transparent; }

article.single-blog {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
          box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
  padding: 15px;
  margin-bottom: 30px; }
  article.single-blog.innerpage {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #eee; }
  article.single-blog .blog-content h2 {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 30px;
    margin: 0 0 15px; }
    article.single-blog .blog-content h2 a {
      color: #00325d;
      -webkit-transition: all 0.24s ease-in-out;
      transition: all 0.24s ease-in-out; }
  article.single-blog .blog-content .blog-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
 

     }
     article.single-blog .blog-content .blog-footer ul li{
      display: inline-block;
      color: #1e90ff;;
      font-size: 14px;
     }
    article.single-blog .blog-content .blog-footer ul li a {
     
      display: inline-block;
      padding: 0 5px;
      color: #1e90ff; }
      article.single-blog .blog-content .blog-footer ul li a i.fa {
        padding-right: 3px; }

article.single-blog:hover .blog-content h2 a {
  color: #1e90ff; }

article.single-blog:hover {
  -webkit-box-shadow: 0px 25px 30px 0px rgba(102, 102, 102, 0.15);
          box-shadow: 0px 25px 30px 0px rgba(102, 102, 102, 0.15); }

article.single-blog.innerpage:hover {
  -webkit-box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
          box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
  border: 1px solid transparent; }

article.single-blog.innerpage.Fullpage img {
  width: 100%; }

.custuom-single-card.card {
  border: none;
  -webkit-box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
          box-shadow: 0px 8px 14px 0px rgba(102, 102, 102, 0.15);
  margin-bottom: 30px; 
padding: 1.25rem;
}
  .custuom-single-card.card .card-header {
    background: #70a1ff;
    color: #fff;
    border-bottom: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase; 
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;

  }
     .custuom-single-card.card .card-header  .rsswidget{
      font-size: 20px;
      color: #fff;
     }
  .custuom-single-card.card  ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .custuom-single-card.card  ul li {
      display: block; }
      .custuom-single-card.card  ul li a {
        
        color: #00325d;
        text-transform: capitalize;
        
       
        -webkit-transition: all 0.24s ease-in-out;
        transition: all 0.24s ease-in-out; }

        .custuom-single-card.card  ul li span{
          font-size: 14px;
          color: #666;
        }
        .custuom-single-card.card  .rssSummary{
          font-size: 14px;
        }
        .custuom-single-card.card  ul li{
           border-bottom: 1px dashed  #eee;
           padding: 5px 0;
        }

        .custuom-single-card.card  ul li a:hover {
          color: #1e90ff;
          padding-left: 5px; }
      .custuom-single-card.card  ul li:last-child  {
        padding-bottom: 0px;
        border-bottom: 1px solid transparent; }

        .custuom-single-card.card  .tagcloud a {
          display: inline-block;
          color: #333;
          border: 1px solid #1e90ff; 
          font-size: 14px !important;
          font-weight: 500;
          padding: 6px 25px;
          border-radius: 999px;
          margin: 3px;
          -webkit-transition:  all 0.24s ease-in-out;
          -o-transition:all 0.24s ease-in-out ;
          transition:all 0.24s ease-in-out ;
        }
        .custuom-single-card.card .tagcloud a:hover{
          background: #1e90ff;
          color: #fff;
        } 

.product-carosel-area {
  padding: 100px 0; }

.single-product {
  border: 1px solid #eee;
  padding: 10px; }

.product-carosel-active .owl-dots {
  position: absolute;
  left: 50%;
  bottom: -60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999; }

.product-carosel-active .owl-dot {
  height: 15px;
  width: 15px;
  background: transparent;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
  border: 2px solid #1e90ff;
  display: inline-block;
  margin: 0 3px;
  border-radius: 50%; }

.product-carosel-active .owl-dot.active {
  background: #1e90ff; }

.site-footer {
  background: #4d708e;
  padding-top: 50px;
  color: #fff; }

.single-footer {
  margin-bottom: 30px; }
  .single-footer .footer-titile, .single-footer h2  a {
    text-transform: capitalize;
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 25px; }
  .single-footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .single-footer ul li {
      display: block; 
      padding: 5px 0;

    }
    .single-footer h2  a{
      color: #fff;
    }
      .single-footer ul li a {
      
        color: #fff;
        
        text-transform: capitalize;
        -webkit-transition: all 0.24s ease-in-out;
        transition: all 0.24s ease-in-out; }
        .single-footer ul li a:hover {
          color: #1e90ff;
          padding-left: 5px; }

        .single-footer  span.post-date{
          font-size: 12px;
        }

.single-footer .tagcloud a {
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  padding: 2px 10px;
  font-size: 14px;
  margin: 5px 2px;
  border-radius: 999px;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
  text-transform: capitalize;
  font-weight: 300; }
  .single-footer .tags a:hover {
    color: #1e90ff;
    background: #fff; }

.footer-bottom {
  padding: 10px 0;
  background: #265175; }
  .footer-bottom ul.f-social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right; }
    .footer-bottom ul.f-social li {
      display: inline-block; }
      .footer-bottom ul.f-social li a {
        display: block;
        color: #fff;
        -webkit-transition: all 0.24s ease-in-out;
        transition: all 0.24s ease-in-out;
        padding: 0 4px; }
        .footer-bottom ul.f-social li a:hover {
          color: #1e90ff; }

.footer-bottom p {
  margin: 0 0 0px; }

/* wordpress core css for widget*/

 .search-form .search-field{
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #eee;
  position: relative;
  padding-left: 15px;
  -webkit-transition:  all 0.24s ease-in-out;
  -o-transition:  all 0.24s ease-in-out;
  transition:  all 0.24s ease-in-out;

}

 .search-form .search-field:focus{
  outline: none;
  
  border-color: #80bdff;
}

 .search-form .search-submit{
  position: absolute;
  right: 0px;
  top: 50%;
  height: 45px;
  border-color: #1b82e6;
  background: #1b82e6;
  color: #fff;
  -webkit-transform: translateY(-58%);
  -ms-transform: translateY(-58%);
  -o-transform: translateY(-58%);
  transform: translateY(-58%);


}

.search-form{
  position: relative;
}



.single-footer .search-form .search-submit{
  right: 0;
  margin-top: -23px;

}



 .search-form label{
  display: block;
}
.custuom-single-card.card  select, .single-footer select{
  display: block;
  width: 100%;
  height: 45px;
  border: 1px solid #eee;
  padding-left: 15px;
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 .gallery-item{
  flex: 31.33%;
  max-width: 31.33%;
 margin: 2px;
}

.wp-caption-text{
  display: none
}



.single-footer .tags a {
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  padding: 2px 10px;
  font-size: 14px;
  margin: 5px 2px;
  border-radius: 999px;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
  text-transform: capitalize;
  font-weight: 300; }
  .single-footer .tags a:hover {
    color: #1e90ff;
    background: #fff; }
#scrollUp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #1e90ff;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%; }




#wp-calendar {
width:100%;
font-size:12px;
font-weight:300;
border-collapse:separate;
border-spacing:8px;
margin-left:-2px;
}

#wp-calendar
caption {
display:none;
}

#wp-calendar tbody
td {
margin-bottom:10px;
text-align:center;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
-o-border-radius:2px;
border-radius:2px;
border:1px solid #f4f4f4;
padding:6px;
}

#wp-calendar tbody td:hover {
border-color:#e2e2e2;
}

#wp-calendar tbody
td.pad {
border:0;
}

#wp-calendar tbody
td#today {
color:#1e90ff;
border-color:#1e90ff;

}

#wp-calendar tfoot td#prev a,#wp-calendar tfoot td#next
a {
color:#888;
font-size:12px;
font-weight:400;
position:relative;
text-transform:uppercase;
bottom:-9px;
margin-bottom:1px;
}

#wp-calendar tfoot
td#prev {
text-align:left;
}

#wp-calendar tfoot
td#next {
text-align:right;
}

#wp-calendar thead
th {
font-size:13px;
font-weight:400;
color:#888;
text-align:center;
padding-bottom:10px;
}

#wp-calendar tbody td
a,#wp-calendar tfoot td#prev a:hover,#wp-calendar tfoot td#next a:hover {
color:#1e90ff;
}

.single-footer #wp-calendar thead th{
  color: #fff;
}


.new-links{
  font-size: 14px;
  display: block;
  color:#1e90ff !important;
  margin-bottom: 15px;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;

}
.new-links i.fa{
  padding-left: 3px;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;

}

.new-links:hover i.fa {
  padding-left: 10px;
}


/* unvisited link */
a:link {
    color: #1e90ff;
}

/* visited link */
a:visited {
    color: #1e90ff;
}

/* mouse over link */
a:hover {
    color: #1e90ff;
}

/* selected link */
a:active {
    color: #1e90ff;
}

.footer-bottom p{
  color: #fff;
}
.blog-content.search h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-links a{
  font-size: 14px;
  color: #212529;
  -webkit-transition: all 0.24s ease-in-out;
  -o-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}
.nav-links a:hover {
   color: #1e90ff;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
 



 }

@media (min-width: 768px) and (max-width: 991.98px) {
  .site--slider__area:hover .slider-active .owl-nav div {
    left: 10px; }
  .site--slider__area:hover .slider-active .owl-nav div.owl-next {
    right: 10px; }
  .slide-content h2 {
    font-size: 40px;
    line-height: 40px; }
  .slide-content p {
    font-size: 16px;
    width: 100%; } }

@media (max-width: 767.98px) {
  .site-header {
    padding: 15px 0; }
  .site--slider__area {
    height: 450px; }
  .single-slider {
    height: 450px; }
  .slide-content h2 {
    font-size: 23px;
    line-height: 23px; }
  .slide-content p {
    font-size: 14px;
    line-height: 24px; }
  .slide-content a {
    margin: 5px 0; }
  .site--slider__area:hover .slider-active .owl-nav div {
    left: 10px; }
  .site--slider__area:hover .slider-active .owl-nav div.owl-next {
    right: 10px; }
  .section-ttile span {
    display: none; }
  
  .product-carosel-active .owl-dots {
    bottom: -75px; }
  .footer-bottom {
    text-align: center; }
  .footer-bottom ul.f-social {
    text-align: center; }
  .section-ttile span {
    font-size: 40px;
    top: -15px; }
  article.single-blog img {
    width: 100%; }
  .banner-arae {
    height: 150px; }
  .bn_height {
    height: 150px; }
  .banner-arae h2 {
    height: 20px; }
  .services-area {
    padding: 50px 0 20px; }
  .section-ttile {
    margin-bottom: 35px; }
  .blog-area {
    padding: 50px 0 20px; }
  .site-logo img {
    height: 60px; } 


h1{
  font-size: 25px;
}




  }

@media (min-width: 576px) and (max-width: 767.98px) {
  .section-ttile span {
    display: block; } }
